# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import random
import csv
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)
print(weather_api_key)

9aeaa7e1139e38b6691b86fa063635f7

## Generate Cities List

In [6]:
#Import CSV file, and read into DataFrame.

world_data = pd.read_csv("../output_data/cities.csv")

#Preview the data.
world_data.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [7]:
# Randomly select 500 cities for weather data.

selected_cities = world_data.sample(n=5)

#Visualize the selected cities DataFrame.

selected_cities

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
189,189,bluff,1,AU,1558378790,89,-23.58,149.07,61.08,11.83
54,54,tiarei,20,PF,1558378764,70,-17.53,-149.33,84.20,10.29
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
244,244,pasni,0,PK,1558378823,52,25.26,63.48,86.82,9.17
253,253,murray bridge,100,AU,1558378827,89,-35.12,139.28,55.99,1.01

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [13]:
#Counter

row_count = 0

# Create blank columns for the necessary fields.

selected_cities["Temperature"] = ""
selected_cities["Humidity"] = ""
selected_cities["Cloudiness"] = ""
selected_cities["Wind Speed"] = ""

# Loop through and get the weather data using the Open Weather API.

for index, row in selected_cities.iterrows():
    #Sleep to help with the call limit
    
    time.sleep(1)
    
    #Open weather url.
    
    url = "https://api.openweathermap.org/data/2.5/weather?"
    units = "Imperial"
    
    query_url = url + "lat="+ str(row["Lat"]) + "&lon=" + str(row["Lng"]) + "&appid=" + weather_api_key + "&units=" + units
    #Print log to ensure the loop is working correctly.
    
    print("Now retieving city # " + str(row_count))
    print(query_url)
    row_count += 1
    
    #Run requests to grab the JSON at the requested URL
    
    city_weather = requests.get(query_url).json()
    
    
    #print(row["Latitude"],row["Longitude"])
#print(city_weather.keys())
    
    #Append the weather data to the appropriate columns.
    #Use try/except to skip any cities with errors.
    #selected_cities.append(requests.get(query_url + str(city_weather)).json())
    try:
        temperature = city_weather["main"]["temp"]
        humidity = city_weather["main"]["humidity"]
        cloudiness = city_weather["clouds"]["all"]
        wind_speed = city_weather["wind"]["speed"]
        
        selected_cities.set_value(index, "Temperature", temperature)
        selected_cities.set_value(index,"Humidity", humidity)
        selected_cities.set_value(index,"Cloudiness", cloudiness)
        selected_cities.set_value(index,"Wind Speed", wind_speed)
    except:
        print("Error with weather data, skipping.")
        #continue
selected_cities

Now retieving city # 0
https://api.openweathermap.org/data/2.5/weather?lat=-23.58&lon=149.07&appid=9aeaa7e1139e38b6691b86fa063635f7&units=Imperial
Error with weather data, skipping.
Now retieving city # 1
https://api.openweathermap.org/data/2.5/weather?lat=-17.53&lon=-149.33&appid=9aeaa7e1139e38b6691b86fa063635f7&units=Imperial
Error with weather data, skipping.
Now retieving city # 2
https://api.openweathermap.org/data/2.5/weather?lat=40.71&lon=112.04&appid=9aeaa7e1139e38b6691b86fa063635f7&units=Imperial
Error with weather data, skipping.
Now retieving city # 3
https://api.openweathermap.org/data/2.5/weather?lat=25.26&lon=63.48&appid=9aeaa7e1139e38b6691b86fa063635f7&units=Imperial
Error with weather data, skipping.
Now retieving city # 4
https://api.openweathermap.org/data/2.5/weather?lat=-35.12&lon=139.28&appid=9aeaa7e1139e38b6691b86fa063635f7&units=Imperial
Error with weather data, skipping.

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Temperature
189,189,bluff,,AU,1558378790,,-23.58,149.07,61.08,,
54,54,tiarei,,PF,1558378764,,-17.53,-149.33,84.20,,
3,3,zhuhai,,CN,1558378755,,40.71,112.04,44.60,,
244,244,pasni,,PK,1558378823,,25.26,63.48,86.82,,
253,253,murray bridge,,AU,1558378827,,-35.12,139.28,55.99,,

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression